{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div class="row">
            <div class="col-md-12">
                <div class="{{ (type in ['success', 'danger', 'info', 'warning'] ? 'alert alert-' : '') ~ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}
