<footer class="footer">
	<div class="container">
		<p class="text-muted">&copy; <script type="text/javascript">var d=new Date();document.write(d.getFullYear());</script> Simone Cainero</p>
	</div>
</footer>