<div class="row">
    <div class="col-md-6">
        <h4>Member partecipation</h4>
    </div>
    <div class="col-md-3 col-md-offset-2 text-right">
        <form class="bs-pagination-search" action="{{ app.request.uri }}" method="GET">
            <div class="input-group">
                <input name="name" class="form-control has-input-clearer" type="search" placeholder="Find by name..." value="{{ name }}">
                <span class="form-control-feedback input-clearer glyphicon glyphicon-remove"></span>
                <div class="input-group-btn">
                    <button type="submit" id="search-button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-1 text-right">
        <a href="{{ path('member_create') }}" class="btn btn-success">New</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="bs-pagination-element" data-list-name="members">
            {% include 'Member/list_content.html.twig' %}
        </div>
    </div>
</div>