{% extends 'Member/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/member-color.js') }}"></script>
{% endblock %}

{% block content %}

<h4>Member: {{ member.firstname ~ ' ' ~ member.surname}}</h4>

<br>

<div class="nav-tab-container">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#member-data" id="member-data-tab" role="tab" data-toggle="tab" aria-controls="member-data" aria-expanded="true">Member Data</a></li>
        <li role="presentation"><a href="#partecipation" role="tab" id="partecipation-tab" data-toggle="tab" aria-controls="profile">Presenze</a></li>
    </ul>
</div>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="member-data" aria-labelledby="home-tab">

        {% include 'Member/edit_data.html.twig' %}

    </div>
    
    <div role="tabpanel" class="tab-pane fade" id="partecipation" aria-labelledby="partecipation-tab">

        {% render(controller('AppBundle:Event:partecipations', {'request' : app.request, 'member' : member})) %}
    </div>
</div>

{% endblock content %}
