.content {
    margin-top: 60px;
}

.color-blue {
	color: #337ab7;
}

.color-green {
	color: #5cb85c;
}

.color-cyan {
	color: #5bc0de;
}

.color-orange {
	color: #f0ad4e;
}

.color-red {
	color: #d9534f;
}

.background-blue {
	background-color: #337ab7;
	color: #fff;
}

.background-green {
	background-color: #5cb85c;
	color: #fff;
}

.background-cyan {
	background-color: #5bc0de;
	color: #fff;
}

.background-orange {
	background-color: #f0ad4e;
	color: #fff;
}

.background-red {
	background-color: #d9534f;
	color: #fff;
}

.nav-tab-container {
	margin-bottom: 15px;
}