<li class="dropdown {{ cells is defined ? 'active' : '' }}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-leaf"></i> {{ cells is defined ? 'cell.name' : 'Cells' }} <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        {% for c in cells %}
            <li><a href="{{ path('cell_view', {'id': c.id}) }}">{{ c.name }}</a></li>
        {% endfor %}
    </ul>
</li>